@import "tailwindcss";

@theme {
  --color-primary: #1b2c65;
  --color-accent: #f37021;
  
  --font-family-sans: Inter, system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}
